.footer {
    background: #1E1E1E;
    width: 100vw;
    height: 10%;
    padding: 8px 20px;
    margin-top: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer p {
    padding: 10px;
    color: #ffdd00;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }